* {
	padding: 0px;
	margin: 0px;
}
body { 
	width: 1080px;
	margin: 0px auto;
}
#topnav {
	position: relative;
	width: 300px;
	left:  860px;
	margin-top: 20px;
}
#topnav ul {
	list-style-type: none;
}
#topnav ul li {
	display: inline-block;
	padding: 0px 3px;
	font-family: sans-serif;
	font-size: 12px;
	text-align: center;
}
#apps {
	
}
#topnav ul li:last-child {
	background-color: blue;
	color: white;
	font-size: 16px;
	padding: 5px;
}
img {
	margin: 60px 215px 20px 215px;
}

#search1 {
	margin: auto;
	width: 480px;
	
}
#buttons {
	margin: auto;
	width: 400px;
	padding: 20px;
}
#buttons button {
	width: 197px;
}
p {
	text-align: center;
	margin: 10px 0px;
}
#bottomnav {

}
#bottomnav ul {	
	list-style-type: none;
	position: fixed;
	bottom: 0px; 
	width: 1080px;
	background-color: #CEDADE;
	height: 2%;
	padding: 5px;
}
#bottomnav ul li {
	display: inline;	
	font-family: times;
	font-size: 18px;
}
.left {
	float: left;
	padding: 0px 8px;
}
.right {	
	float: right;
	padding: 0px 8px;
}

